ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(133, 214, 67);
        padding: 1em;
        border-radius: 10px;
        margin-bottom: 15px;
        // display: grid;
        align-items: flex-start;
        font-size: 1.5rem;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}