#rowInfo {
    flex-direction: row;
    background: rgb(133, 214, 67);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 15px;
    display: grid;
    align-content: flex-start;
    // justify-content: space-around;
    // font-size: 1 rem;
    // grid-template-columns: auto;
}

#p { 
    flex: 1
}

#main {
    margin-top: 25px;
    width: 80%;
    //   width: 400px;
    height: 20%;
    //   height: 400px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
}



// ul {
//     list-style-type: none;
//     margin: 0;padding: 0;

//     li {
//         background: rgb(133, 214, 67);
//         padding: 1em;
//         border-radius: 10px;
//         margin-bottom: 15px;
//         // display: grid;
//         align-items: flex-start;
//         font-size: 1.5rem;
//         grid-template-columns: 60px auto;

//         p {
//             font-weight: bold;
//             margin-left: 20px;
//         }

//         img {
//             border-radius: 50%;
//             width: 100%;
//         }
//     }
// }

// #container {
//     padding:2em;

//     #list {
//         padding:1em;
//         display:block;
//         background:#fff;
//         margin-bottom:10px;
//     }

//     button {
//         border:none;
//         margin-bottom:20px;
//         padding:10px;
//         background: blueviolet;
//         color: #fff;
//     }

//     .col {
//         width:33%;
//         display:inline-block;
//         padding:40px 0;
//         color:gray;
//     }
// }

// #main {
//   width: 80%;
// //   width: 400px;
//   height: 400px;
// //   height: 400px;
//   border: 1px solid #c3c3c3;
//   display: -webkit-flex; /* Safari */
//   -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
//   display: flex;
//   flex-direction: row-reverse;
// }
