

<div class="alert alert-success" *ngIf="emailVerificationResposne">
  <strong>Success!</strong> {{emailVerificationResposne}}
</div>


<!-- Registration Form -->
<form [formGroup]="form" (submit)="submitForget()">


  <!-- Email Input -->
  <div class="form-group">
    <label for="email">Email</label>
    <div>
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" (blur)="checkEmail()" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty"  class="text-danger">This field is required</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty" class="text-danger">This must be a valid e-mail</li>
      </ul>
    </div>
  </div>

  <!-- Submit Input -->
  <input  [disabled]=" !processing" type="submit" class="btn btn-primary" value="Submit" />

</form>
<!-- Registration Form /-->
