#list {
    justify-content: space-around;
    background: rgb(238, 238, 238);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 80px auto;
}

#pic {
    height: 50px;
    border-radius: 25px;
}

ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 10px;
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 60px auto;

        p {
            font-weight: bold;
            margin-left: 20px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
    }
}